:root {
 --background: #050505;
 --primary: #00f3d2;
 --secondary: #121212;
 --tertiary: #2a2a2a;

 /* INPUT */
 --inputLight: #e6e6e6;
 --inputDark: #171717;
 --inputOptional: #5959599d;
 --inputRound: 10px;

 /* POPMENU */
 --popmenuLigth: #e6e6e6;
 --popmenuDark: #171717;
 --popmenuRound: 20px;

 --error: #ff2525;
 --round: 20px;
 --duration: 200ms;
}

.restaurants{
    --primary: #ff6a00;
}