/* 
───────────────────────────────────────────────────────────────────────────────
 GLOBAL
 ───────────────────────────────────────────────────────────────────────────────
*/
:root {
  /* COLORS */
  --primary: #00d7e5; /* #00eeff */
  --red: #eb0029;

  /* BASE */
  --roundSmoothing: 0.8;
  --duration: 200ms;
}

.Block {
  --padding: 4px;
  --round: 8%;

}

.Menu {
  --padding: 4px;
  --round: 10%;
}

.Input {
  --round: 15%;
}

/* ───────────────────────────────────────────────────────────────────────────────
// DARK
*/
:root:not([data-theme]),
[data-theme="dark"] {
  color-scheme: dark;
  --background: #050505;
  --secondary: #0d0d0d;
  --tertiary: #161b1c;

  /* INPUT */
  --input: #e6e6e6;
  --inputOptional: #5959599d;
}

/* ───────────────────────────────────────────────────────────────────────────────
// LIGHT
*/
[data-theme="light"] {
  color-scheme: light;
  --background: #f5f5f5;
  --secondary: #ffffff;
  --tertiary: #e0e0e0;

  /* INPUT */
  --input: #e6e6e6;
  --inputOptional: #5959599d;
  
}
